---
title: Very cool website
---

{%- set navigation = [
  {
    name: "About me",
    url: "/about"
  },
  {
    name: "Stuff I've done",
    url: "/stuff-ive-done"
  },
  {
    name: "What I'm doing now",
    url: "/now"
  },
  {
    name: "Contact",
    url: "/contact"
  }
] -%}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Owen Jones</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header>
      <div class="width-container">
        <a href="/" class="logo" {{- 'aria-current=true' if page.url == '/' }}>Owen Jones</a>
        <nav>
          <ul>
            {%- for item in navigation -%}
            <li><a href="{{ item.url }}" {{- 'aria-current=true' if page.url == item.url + '/' }}>{{ item.name }}</a></li>
            {%- endfor -%}
          </ul>
        </nav>
      </div>
    </header>
    <div class="width-container">
      <div class="width-container__content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
