---
title: Very cool website
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Owen Jones</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <header>
      <div class="width-container">
        <a href="/" class="logo">Owen Jones</a>
        <nav>
          <ul>
            <li><a href="/about">About me</a></li>
            <li><a href="/stuff-ive-done">Stuff I've done</a></li>
            <li><a href="/now">What I'm doing now</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="width-container">
      <div class="width-container__content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
