@use "utility";

.logo {
  font-size: utility.remify(32px);
  color: utility.$text-colour;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.2rem);
  }
}

nav {
  margin-top: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
