@use "utility";

header {
  padding: 20px 0;
  background-color: utility.$nav-colour;
  margin: 0 0 20px;
  font-weight: 700;

  a {
    color: utility.$text-colour;
  }
}

.logo {
  font-size: utility.remify(32px);
}

nav {
  margin-top: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
