@use "utility";

.width-container {
  max-width: utility.$max-width;
  margin: 0 20px;

  @include utility.media-query(l) {
    margin: 0 auto;
  }
}

.width-container__content {
  @include utility.media-query(m) {
    max-width: utility.$content-width;
  }
}

header {
  padding: 20px 0;
  background-color: utility.$nav-colour;
  margin: 0 0 20px;
  font-weight: 700;
  border-bottom: 1px solid utility.$text-colour;
}

main {
  margin-bottom: 60px;
}

footer {
  border-top: 1px solid utility.$text-colour;
  padding-top: 20px;

  ul {
    list-style: none;
    padding: 0;

    @include utility.media-query(m) {
      li {
        display: inline-block;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
