@use "sass:math";
@use "sass:map";

// colours
$primary-colour: #202020;
$text-colour: #ffffff;
$link-colour: #4efcf9;
$nav-colour: #133a1a;
$border-colour: #8cf29f;

// widths
$max-width: 900px;
$content-width: 700px;
$border-width: 7px;

// px to rem function
@function remify($value) {
  @if math.is-unitless($value) {
    $value: $value * 1px;
  }

  @return calc(($value / 16px) * 1rem);
}

// media queries

@mixin media-query($breakpoint) {
  $breakpoint-map: (
    s: 320px,
    m: 641px,
    l: 961px,
  );

  @media screen and (min-width: map.get($breakpoint-map, $breakpoint)) {
    @content;
  }
}

@mixin title-left-border() {
  border-left: $border-width solid;
  padding-left: 15px;
}
